header {
  margin-top: 30px;
  background-color: #f0f0f0;
  width: 80vw;
  border-radius: 8px;

  padding-block: 50px;
  margin-inline: auto;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 55px;
}

.stats {
  margin-top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.stats-info {
  border: 3px solid var(--clr-main-color);
  padding: 15px;
  border-radius: 4px;
}

.color-name {
  margin-block: 20px;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
}

.info-game {
  margin-top: -20px;

  width: 300px;
  border-radius: 5px;
  border: 3px solid var(--clr-font);

  font-size: 55px;
  font-weight: bolder;
  text-align: center;
}

#timer {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  right: 250px;
  top: 550px;

  position: absolute;
}

.description-game {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 18px;
  margin-block: 15px;
}

main {
  padding-inline: 100px;

  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-description {
  font-size: 25px;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#start {
  width: 500px;
  background-color: var(--clr-main-color);
  color: white;
}

.container-content {
  margin-top: 100px;
  width: 80vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-buttons {
  width: 400px;
}

.navigation {
  width: 200px;
  margin-inline: 10px;
}
