.colors {
  display: flex;
  gap: 5px;
  overflow-wrap: break-word;
}

.color-box {
  width: 100px;
  height: 100px;
  cursor: pointer;

  transition: all 0.15s ease-in-out;
}

.color-box:hover {
  transform: scale(1.1);
}

/* colors */
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}
.black {
  background-color: black;
}
.grey {
  background-color: grey;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}

.name-color {
  font-weight: bolder;
  font-size: 20px;
}

.error {
  display: none;
}

/* modal */
.bg-modal {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.492);
}

.modal,
.second-modal {
  display: none;

  flex-direction: column;
  align-items: center;
  background-color: var(--clr-main-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;

  padding: 25px;
  border-radius: 7px;
  z-index: 999;

  width: 500px;
  height: fit-content;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  text-align: left;
}

.dismiss {
  width: 100px;
}

p:first-child {
  font-weight: bolder;
  font-size: 18px;
}

.title {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
}

.element-d {
  margin-top: 15px;
  font-size: 15px;
}

.element-n {
  text-align: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
