.colors {
  display: flex;
  gap: 5px;
  width: 200px;
}

.color-box {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* colors */
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}
.black {
  background-color: black;
}
.grey {
  background-color: grey;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}

.name-color {
  font-weight: bolder;
  font-size: 20px;
}

.error {
  display: none;
}

/* modal */
/* modal styles */

.bg-modal {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal,
.second-modal {
  display: none;

  flex-direction: column;
  align-items: center;
  background-color: #1a6295;
  color: white;

  padding: 25px;
  border-radius: 7px;
  z-index: 999;

  width: 500px;
  height: fit-content;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  text-align: left;
}

p:first-child {
  font-weight: bolder;
  font-size: 18px;
}

.title {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
}

.element-d {
  margin-top: 15px;
  font-size: 15px;
}

.element-n {
  text-align: center;
}

button {
  color: white;
  margin-top: 25px;
  width: 250px;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 2px #00000043);
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #09273c;
  border: 2px solid #09273c;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
